body{
	background-image: url('../images/bg_stadium.jpg');
	background-attachment: fixed;
	max-width: 960px;
	margin: 0 auto;
	font: 100%/1.5 'Helvetica Neue', Arial, sans-serif;
}

#wrapper{
	width: 100%;
}

h1{
	font-family: 'Almendra SC', serif;
	font-size: 4.375em; /*70px*/
	padding: 1.142857142857% 1.142857142857% 0%; /*5px 5px 0px*/
	text-shadow: 2px 2px 2px black;	
	text-align: center;
	color: white;
}

h2{
	float: left;
	width: 35.4166666667%; /*340px/960px*/
	font: 1.875em /*30px*/'Norican', cursive;
	margin: 0 auto;
	text-shadow: 2px 2px 2px black;	
	color: white;
}

h3{
	font: 1.5625em /*13px*/'Almendra SC', serif;
	text-align: center;
	text-shadow: 2px 2px 2px black;	
}

/*Main Nav-------------------------------------------------------------------*/
nav{
	float: right;
	width: 40%;/*28.6458333333%; /*275px/960px*/
	margin: 0 auto;
}

nav ul{
	background: white;
	list-style-type: none;
	padding: 0%;
	overflow: hidden;
	opacity: .9;
	border: 3px solid maroon;
	color: black;
}

nav li{
	float: left;
	margin-left: 9%; /*10px*/
}

nav a {
	text-decoration: none;
	background: white;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	opacity: .9;
}

nav a:visited{
	color: black;
	text-decoration: underline;
}

nav a:hover{
	background: white;
	color: maroon;
	text-decoration: none;
}

/* CTA --------------------------------------------------------------*/
#cta{
	background-color: white;
	border: 3px solid maroon;
	width: 99.58333333%; /*956px/900px*/
	margin: 2.60416666666% 0%; /*25px*/
	overflow: hidden;
	color: black;	
	opacity: .95;
}

#sunset img{
	float: left;
	border: 2px solid white;
	border-radius: 5px;
	margin: 1.0416666666%; /*10px*/;
	width: 60%;
}

.button{
	display: inline;
	width: 20.83333333%; /*200px/960px*/ 
	height: 4.583333333%; /*44px*/
	text-align: center;
	background-color: white;
	color: black;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0 1px 1px #aaa;
	float: right;
	margin: 1.76666666667% 7.8125% 2.60416666667%; /*40px 75px 25px*/
	background: moz-linear-gradient (top,rgba(226,226,226,1 ) 0%,rgba(219,219,219,1 ) 50%,rgba(209,209,209,1 ) 51%,rgba(254,254,254,1 ) 100% )
}

#benefits{
	width: 31.770833333%; /*305px*/
	float: right;
	padding: 1.639344262295%; /*5px*/
}

#benefits p{
	font-size: .8125em;
	text-align: center;
}
/*-------------------------------------Schedule------------------------------*/
#content{
	-moz-column-count: 3;
	background-color: white;
	border: 3px solid maroon;
	border-radius: 10px;
	padding: 5px;
	clear: both;
	text-shadow: none;
	opacity: .9;
}

#schedule{
	background-color: white;
	text-align: left;
	border: 3px solid maroon;
	opacity: .9;
	width: 38%; /*20.83333333%; /*200px*/ 
	clear: both;
	float: left;
	margin: 2% 0%;
}

table{
	border-collapse: collapse;
}
td{
	border: 1px solid maroon;
	text-align: center;
	padding: .3em;
}

th{
	text-align: center;
	padding: .3em;
	border: 1px solid maroon;
}

.odd_row {
	background: maroon;
	color: white;
}
/*-----------------------------------Pride--------------------------------*/
aside{
	margin: 1% 0%;
	background-color: white;
	border: 3px solid maroon;
	float: right;
	width: 20%; /*250px*/
	text-align: center;
	opacity: .9;
	padding: .5%;
	font-size: 14px;
}

aside ul{
	list-style-type: none;
	padding: 0;
}

/*-------------------------------------------Gallery-----------------------*/
#gallery {
        width: 33.33333%; /*320px*/
        float: left;
        overflow: hidden;
        margin: 1% 0% 1% 2%; /*25px 0px*/
		background-color: white;
		border: 3px solid maroon;
		opacity: .9;
}

#gallery ul {
        list-style-type: none;
        padding: 0%;
        margin: 0%;
}

#gallery ul li {
        width: 43.75%; /*140px*/
        float: left;
        margin: 2.8%; /*10px*/
}

#gallery ul li a {
        display: block;
        height: 101px;
        border: 5px solid purple;
}

#gallery ul li a:visited 
	{border-color: maroon;
}

#gallery ul li a:hover 
	{border-color: silver;
}
/*---------------------------------Form---------------------------------------*/
input:focus{
	border: 3px solid maroon;
}

#sign_up{
	background-color: white;
	width: 56.8%;
	opacity: .9;
	float: left;
	border: 3px solid maroon;
	margin: 2% 0% 2% 2%;
	padding: .9469%;
}

/*------------------------------------Footer----------------------------------*/
footer{
	clear:both;
	float:right;
}

/*------------------Media Queries --------------------------------------------*/
	/*Tablet Portrait size to standard 960 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 959px) {
	#gallery {width: 33.333333333%;}
	#wrapper {width: 100%;}
	#aside {float: left;}
	
}

	/*Mobile Landscape Size to Tablet Portrait(devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	#sunset img {display: none;}
	#content {-moz-column-count: 1;}
	#h2 {display: none;}
	nav {float: none:}
	
}

	/*Mobile Portrait Size to Moblie Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	#sunset img {display: none;}
	#gallery {display: none;}
	#benefits {float: none; width: 90%;}
	aside {float: none; width: 90%;}
	#schedule {float: none; width: 90%;}
	#content {-moz-column-count: 1;}
	#h2 {display: none;}
	nav {float: none:}
}
