body{
	background-image: url('../images/bg_stadium.jpg');
	background-attachment: fixed;
	width: 960px;
	margin: 0 auto;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1{
	font-family: 'Almendra SC', serif;
	font-size: 70px;
	padding: 5px 5px 0px;
	text-shadow: 2px 2px 2px black;	
	text-align: center;
	color: white;
}

h2{
	float: left;
	width: 340px;
	font-family: 'Norican', cursive;
	margin: 0 auto;
	text-shadow: 2px 2px 2px black;	
	font-size: 30px;
	color: white;
}

h3{
	font-family: 'Almendra SC', serif;
	font-size: 25px;
	text-align: center;
	text-shadow: 2px 2px 2px black;	
}

/*Main Nav-------------------------------------------------------------------*/
nav{
	float: right;
	width: 275px;
	margin: 0 auto;
}

nav ul{
	background: white;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	opacity: .9;
	border: 3px solid maroon;
	color: black;
}

nav li{
	float: left;
	margin-left: 10px;
}

nav a {
	text-decoration: none;
	background: white;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	opacity: .9;
}

nav a:visited{
	color: black;
	text-decoration: underline;
}

nav a:hover{
	background: white;
	color: maroon;
	text-decoration: none;
}

/* CTA --------------------------------------------------------------*/
#cta{
	background-color: white;
	border: 3px solid maroon;
	width: 956px;
	margin: 25px 0px;
	overflow: hidden;
	color: black;	
	opacity: .95;
}

#sunset img{
	float: left;
	border: 2px solid white;
	border-radius: 5px;
	margin: 10px;
	width: 60%;
}

.button{
	display: inline;
	width: 200px; 
	height: 44px;
	text-align: center;
	background-color: white;
	color: black;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0 1px 1px #aaa;
	float: right;
	margin: 40px 75px 25px;
	background: moz-linear-gradient (top,rgba(226,226,226,1 ) 0%,rgba(219,219,219,1 ) 50%,rgba(209,209,209,1 ) 51%,rgba(254,254,254,1 ) 100% )
}

#benefits{
	width: 305px;
	float: right;
	padding: 5px;
}

#benefits p{
	font-size: 13px;
	text-align: center;
	margin-left: 0px;
}
/*-------------------------------------Schedule------------------------------*/
#content{
	-moz-column-count: 3;
	background-color: white;
	border: 3px solid maroon;
	border-radius: 10px;
	padding: 5px;
	clear: both;
	text-shadow: none;
	opacity: .9;
}

#schedule{
	background-color: white;
	text-align: center;
	border: 3px solid maroon;
	opacity: .9;
	width: 200px;
	clear: both;
	float: left;
	margin: 25px 0px;
}

#schedule ul{
	padding: 0px;
}

#schedule li{
	list-style-type: none;
}

/*-----------------------------------Pride--------------------------------*/
aside{
	margin: 25px 61px;
	background-color: white;
	border: 3px solid maroon;
	float:left;
	width: 250px;
	text-align: center;
	opacity: .9;	
}

aside ul{
	list-style-type: none;
	padding: 0;
}

/*-------------------------------------------Gallery-----------------------*/
#gallery {
        width: 320px;
        float: right;
        overflow: hidden;
        margin: 25px 10px;
		background-color: white;
		border: 3px solid maroon;
		opacity: .9;
}

#gallery ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
}

#gallery ul li {
        width: 140px;
        float: left;
        margin: 10px;
}

#gallery ul li a {
        display: block;
        height: 101px;
        border: 5px solid white;
}

#gallery ul li a:visited {border-color: maroon;
}

#gallery ul li a:hover {border-color: silver;
}


/*------------------------------------Footer----------------------------------*/
footer{
	clear:both;
	float:right;
}

/*------------------Media Queries --------------------------------------------*/
	/*Tablet Portrait size to standard 960 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 959px) {
}

	/*Mobile Landscape Size to Tablet Portrait(devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
}

	/*Mobile Portrait Size to Moblie Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
}
